ProxyMode=0
Server={{ zabbix_server }}
Hostname={{ ansible_default_ipv4.address }}
LogFile=/tmp/zabbix_proxy.log
PIDFile=/tmp/zabbix_proxy.pid
DBName=zabbix_proxy
DBUser=zabbix_proxy
DBPassword=zabbixpw
DBHost=localhost
#DBPort=3306
FpingLocation=/usr/bin/fping
LogSlowQueries=1000
StartPollersUnreachable=30
ProxyLocalBuffer=0
HeartbeatFrequency=60 
ConfigFrequency=600
StartPollers=80
StartTrappers=15
UnreachablePeriod=60
UnavailableDelay=10
UnreachableDelay=30
StartDiscoverers=5
DataSenderFrequency=30
CacheSize=256M
HistoryCacheSize=512M
HistoryIndexCacheSize=256M
Timeout=30
DebugLevel=3
