LogFile=/tmp/zabbix_agentd.log
Server={{ zabbix_servers }}
#ServerActive=
Hostname={{ ansible_default_ipv4.address }}
StartAgents=20
UnsafeUserParameters=1
UserParameter=order[*],$1
UserParameter=cdn_mould[*],/etc/zabbix/scripts/cdn_mould.sh $1
UserParameter=cdn_hls[*],/etc/zabbix/scripts/cdn_info $1 
UserParameter=cdn_oms[*],/etc/zabbix/scripts/cdn_oms $1
UserParameter=flow[*],/etc/zabbix/scripts/flow $1
UserParameter=process_id[*],/etc/zabbix/scripts/process_id $1
UserParameter=cdn_channel,/etc/zabbix/scripts/cdn_channel
UserParameter=cdn_channel_info[*],/etc/zabbix/scripts/channel_info $1 $2
UserParameter=lts_channel,/etc/zabbix/scripts/lts_channel
UserParameter=lts_channel_alive[*],/etc/zabbix/scripts/lts_channel_alive.sh $1
UserParameter=collect_cards,/etc/zabbix/scripts/collect_cards
UserParameter=card[*],/etc/zabbix/scripts/card.sh $1
UserParameter=token,/etc/zabbix/scripts/token.sh
UserParameter=cdn_config,cat /opt/starview/cdn/hls/cfg/HlsCfgInfo.xml
UserParameter=flow_load[*],/etc/zabbix/scripts/flow_load $1 $2
UserParameter=link_info[*],/etc/zabbix/scripts/link_info $1
UserParameter=GslbNode[*],/etc/zabbix/scripts/gslb_node $1 $2
EnableRemoteCommands=1
AllowRoot=1
Timeout=30
